jup_Note_url.txt

# Python & Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# Spark write artifacts & metastore
*.crc
_SUCCESS
spark-warehouse/
metastore_db/
derby.log

# Datasets and generated output folders
data/
